[submodule "system_files/usr/share/gnome-shell/extensions/tmp/bazaar-integration@kolunmi.github.io"]
	path = system_files/usr/share/gnome-shell/extensions/tmp/bazaar-integration@kolunmi.github.io
	url = https://github.com/bazaar-org/bazaar-companion.git
	branch = main
